node_modules/
.chrome-profile/
.chrome-profile-diagnose/
.manual-profile/
temp_workflow.json

automa-ex/
automa-be/
automa-cli/
automa-dashboard/
automa-vault/
.pnpm-store/
.agents

# Ignore nested dashboard repo
automa-dashboard
